@tailwind base;
@tailwind components;
@tailwind utilities;


body {
 background-image: url("../src/img/bg-app3.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 min-height: 100vh;
}

.bg-truco{
    background-image: url("../src/img/bg-title.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 85px;
}